{% extends 'menu/base.html' %}

{% block content %}
<h3>Result2:</h3>
{{result}}
<h3>Menu Cards:</h3>
<ol>
    {% for card in result %}
    <li>
        {{card.name}}
    </li>
    {% empty %}
    NO CARDS IN DATABASE
    {% endfor %}
</ol>

<table id="myTable" class="tablesorter, table">
<thead>
<tr>
    <th>Id</th>
    <th>Card Name</th>
    <td>Description</td>
    <th>Meals Quantity</th>
    <td>Date Created</td>
    <td>Date Updated</td>
</tr>
</thead>
<tbody>
{% for card in result %}
<tr>
    <td>{{card.id}}</td>
    <td><a href="{% url 'card' pk=card.id %}">{{card.name}}</a></td>
    <td>{{card.description}}</td>
    <td>{{card.meal_count}}</td>
    <td>{{card.created_at}}</td>
    <td>{{card.updated_at}}</td>
</tr>
{% empty %}
NO CARDS IN DATABASE
{% endfor %}

</tbody>
</table>

{% endblock %}