{% extends 'menu/base.html' %}

{% block content %}
<h3>Czysty rezultat z api</h3>
{{result}}
<h3>Menu Cards:</h3>


<table id="myTable" class="tablesorter, table">
<thead>
<tr>
    <th>Id</th>
    <th>Card Name</th>
    <td>Description</td>
    <th>Meals Quantity</th>
    <td>Date Created</td>
    <td>Date Updated</td>
</tr>
</thead>
<tbody>
{% for card in result %}
<tr>
    <td>{{card.id}}</td>
    <td><a href="{% url 'card' pk=card.id %}">{{card.name}}</a></td>
    <td>{{card.description}}</td>
    <td>{{card.meals_count}}</td>
    <td>{{card.created_at}}</td>
    <td>{{card.updated_at}}</td>
</tr>
{% empty %}
NO CARDS IN DATABASE
{% endfor %}

</tbody>
</table>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}